# dependencias
/node_modules

# directorios de compilación
/dist

# archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# directorio de cobertura de pruebas
/coverage

# entorno
/.env
